<header class="font-sans antialiased border-gray-300 border-b">
  <nav class="flex items-center justify-between flex-wrap bg-teal p-6">
    <!-- logo -->
    <div class="text-blue-500 mr-6">
      <a [routerLink]="'/'">
        <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
      </a>
    </div>
    <!-- 手機板menu開關按鈕 -->
    <div class="block sm:hidden">
      <button (click)="open = !open" class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-blue-500 hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <!-- 主要內容 -->
    <div [class.block]="open" [class.hidden]="!open" class="w-full flex-grow sm:flex sm:items-center sm:w-auto ">
      <!-- menu -->
      <ul class="text-sm sm:flex">
        <li *ngFor="let item of headerNavArr">
          <a [routerLink]="item.url" class="no-underline block mt-4 sm:inline-block sm:mt-0 text-teal-lighter hover:text-blue-500 mr-4">
            {{ item.title | translate }}
          </a>
        </li>
      </ul>
      <!-- 語言切換下拉式選單 -->
      <div class="dropdown ml-auto">
        <p-dropdown [options]="langsSelect" [style]="{width: '100%'}" [(ngModel)]="langs" optionLabel="name" optionValue="code" (ngModelChange)="langsChange($event)">
          <ng-template let-langItem pTemplate="selectedItem">
            <span>{{ langItem.name| translate }}</span>
          </ng-template>
          <ng-template let-lang pTemplate="item">
            <span>{{ lang.name| translate }}</span>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
  </nav>
</header>
